@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}
@layer components {
  /* These make calendar's unique */
  ::-webkit-datetime-edit {
    display: none;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    display: none;
  }
  ::-webkit-datetime-edit-text {
    display: none;
  }
  ::-webkit-datetime-edit-month-field {
    display: none;
  }
  ::-webkit-datetime-edit-day-field {
    display: none;
  }
  ::-webkit-datetime-edit-year-field {
    display: none;
  }
  ::-webkit-inner-spin-button {
    display: none;
  }
  ::-webkit-calendar-picker-indicator {
    height: 1.5rem;
    width: 1.5rem;
  }
}
